<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pm.mapper.WebApiMapper">

    <resultMap id="ResultMapWebApi" type="com.pm.po.WebApi">
        <result property="api_id" column="api_id" jdbcType="INTEGER"/>
        <result property="api_name" column="api_name" jdbcType="VARCHAR"/>
        <result property="api_category" column="api_category" jdbcType="VARCHAR"/>
        <result property="api_describe" column="api_describe" jdbcType="VARCHAR"/>
        <result property="api_url" column="api_url" jdbcType="VARCHAR"/>
        <result property="api_tags" column="api_tags" jdbcType="VARCHAR"/>
        <result property="api_protocol" column="api_protocol" jdbcType="VARCHAR"/>
        <result property="api_followers" column="api_followers" jdbcType="INTEGER"/>
    </resultMap>
    
    <!--声明数据块字段-->
    <sql id="WebApi_field">
        api_id,api_name,api_category,api_describe,api_url,api_tags,api_protocol,api_followers
    </sql>

    <!--实体类属性-->
    <sql id="WebApi_insert">
        #{api_id}, #{api_name}, #{api_category}, #{api_describe}, #{api_url}, #{api_tags}, #{api_protocol},#{api_followers},
    </sql>

    <!--查询时条件-->
    <sql id="WebApi_where">
        <if test="api_id != null"> and api_id=#{api_id}</if>
        <if test="api_name != null"> and api_name=#{api_name}</if>
        <if test="api_category != null"> and api_category=#{api_category}</if>
        <if test="api_describe != null"> and api_describe=#{api_describe}</if>
        <if test="api_url != null"> and api_url=#{api_url}</if>
        <if test="api_tags != null"> and api_tags=#{api_tags}</if>
        <if test="api_protocol != null"> and api_protocol=#{api_protocol}</if>
        <if test="api_followers != null"> and api_followers=#{api_followers}</if>
    </sql>


    <!-- 查询整个表 -->
    <select id="listAll" resultMap="ResultMapWebApi">
        select <include refid="WebApi_field"/>
        from webapi
    </select>

    <!-- 根据主键获取一个实体-->
    <select id="getById" resultMap="ResultMapWebApi" parameterType="java.lang.Integer">
        select <include refid="WebApi_field"/>
        from webapi where api_id=#{api_id}
    </select>

    <!-- 根据实体获取一个实体-->
    <select id="getByEntity" resultMap="ResultMapWebApi" parameterType="com.pm.po.WebApi">
        select <include refid="WebApi_field"/>
        from webapi where 1=1 <include refid="WebApi_where"/>
    </select>

    <!-- 通过map查询分页-->
    <select id="findByMap" resultMap="ResultMapWebApi" parameterType="map">
        select <include refid="WebApi_field"/>
        from webapi where
        <include refid="WebApi_where"/>
    </select>

    <!--通过对象查询分页-->
    <select id="findByEntity" resultMap="ResultMapWebApi" parameterType="com.pm.po.WebApi">
        select <include refid="WebApi_field"/>
        from webapi where
        <include refid="WebApi_where"/>
    </select>

    <!-- 封装纯sql语法-->

    <!-- 查询一个对象返回实体类-->
    <select id="getBySqlReturnEntity" resultMap="ResultMapWebApi">
        ${sql}
    </select>

    <!-- 查询列表返回实体-->
    <select id="listBySqlReturnEntity" resultMap="ResultMapWebApi">
        ${sql}
    </select>

    <!-- 查询分页-->
    <select id="findBySqlRerturnEntity" resultMap="ResultMapWebApi">
        ${sql}
    </select>

</mapper>