<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pm.mapper.WebTagMapper">
    <resultMap id="ResultMapWebTag" type="com.pm.po.WebTag">
        <result property="tag_id" column="tag_id" jdbcType="INTEGER"/>
        <result property="tag_name" column="tag_name" jdbcType="VARCHAR"/>
        <result property="tag_apis" column="tag_apis" jdbcType="VARCHAR"/>
        <result property="tag_mashups" column="tag_mashups" jdbcType="VARCHAR"/>
    </resultMap>

    <!--声明数据块字段-->
    <sql id="WebTag_field">
        tag_id,tag_name,tag_apis,tag_mashups
    </sql>

    <!--实体类属性-->
    <sql id="WebTag_insert">
        #{tag_id}, #{tag_name}, #{tag_apis}, #{tag_mashups}
    </sql>

    <!--查询时条件-->
    <sql id="WebTag_where">
        <if test="tag_id != null"> and tag_id=#{tag_id}</if>
        <if test="tag_name != null"> and tag_name=#{tag_name}</if>
        <if test="tag_apis != null"> and tag_apis=#{tag_apis}</if>
        <if test="tag_mashups != null"> and tag_mashups=#{tag_mashups}</if>
    </sql>

    <!-- 查询整个表 -->
    <select id="listAll" resultMap="ResultMapWebTag">
        select <include refid="WebTag_field"/>
        from webtag
    </select>

    <!-- 根据主键获取一个实体-->
    <select id="getById" resultMap="ResultMapWebTag" parameterType="java.lang.Integer">
        select <include refid="WebTag_field"/>
        from webtag where tag_id=#{tag_id}
    </select>

    <!-- 根据实体获取一个实体-->
    <select id="getByEntity" resultMap="ResultMapWebTag" parameterType="com.pm.po.WebTag">
        select <include refid="WebTag_field"/>
        from webtag where 1=1 <include refid="WebTag_where"/>
    </select>

    <!-- 通过map查询分页-->
    <select id="findByMap" resultMap="ResultMapWebTag" parameterType="map">
        select <include refid="WebTag_field"/>
        from webtag where
        <include refid="WebTag_where"/>
    </select>

    <!--通过对象查询分页-->
    <select id="findByEntity" resultMap="ResultMapWebTag" parameterType="com.pm.po.WebTag">
        select <include refid="WebTag_field"/>
        from webtag where
        <include refid="WebTag_where"/>
    </select>

    <!-- 封装纯sql语法-->

    <!-- 查询一个对象返回实体类-->
    <select id="getBySqlReturnEntity" resultMap="ResultMapWebTag">
        ${sql}
    </select>

    <!-- 查询列表返回实体-->
    <select id="listBySqlReturnEntity" resultMap="ResultMapWebTag">
        ${sql}
    </select>

    <!-- 查询分页-->
    <select id="findBySqlRerturnEntity" resultMap="ResultMapWebTag">
        ${sql}
    </select>

</mapper>